/* Text */
$color-title: #075f45;
// $text-primary: #5E5E5E;

/* Main Colors */
$color-white: #FFFFFF;
$color-black: #353535;
// $color-app-primary:#F22539;
// $color-app-primary-hover: #C00E20;
// $color-app-secondary: #ECA539;
$color-app-gray: #BFBFBF;
$color-background-primary:#EFEDE6;


/* box shadow*/
 $box-shadow-input:  10px 10px 5px 2px rgba(0,0,0,0.02);
 $box-shadow-general:  0 -2px 8px rgba(0, 0, 0, 0.2);
 $box-shadow-hoover:  10px 10px 5px 2px rgba(0,0,0,0.04);

/* Font family */
$font-family-text: "Space Mono", monospace;
$font-family-title: "Anton SC", sans-serif;
$font-family-name: "Dancing Script", cursive;
$font-standart: 1.2em;
$font-title: 36px;
$font-general: 18px;

