
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EFEDE6; 
  line-height: 1.5;
  font-weight: 400;
  font-family: "VT323", monospace;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#app {
  margin: 0 auto;
  text-align: center;
  /* max-height: 700px;  */
}

a {
  text-decoration: none;
  color: inherit;
}